{% extends "layouts/default.html" %}

{% block content %}
<div class="container container-thin">
  <div class="row">
    <div class="col">
      <br />
      <br />
  
  <br />
  
  <br />
  
  <br />
  
  <br />
  
  

          <h1>TRANSPARENCY FOR MEDICAL SUPPLIES</h1>
          <div>	
          <h2>BACKGROUND</h2>
          <p> 
            Since COVID-19 has hit the US, medical supplies and devices have been in high demand. There has been much uncertainty about what medical supplies are readily available. This project aims to provide trust between the nation's suppliers and their buyers by creating a product specific network which allows everyone in the network to see the surplus or demand for a product. Using data analysis to create algorithms for demand of a product would also decrease the nation's dependency on the government to mandate production. By implementing a blockchain solution to this problem, along with RFID technology to scan each product into the surplus, the network can be certain on the availability of product.
          </p>
          
          <h2>CONTRACT</h2>
          <p>
            contract sellerContract{<br />
            //init seller<br />
            struct Seller{<br />
              string name;<br />
              uint quantity;<br />
            }<br />

            uint private supply;<br />

            //declare seller obj<br />
            Seller public seller_obj;<br />
            Seller[] public sellers;<br />
            <br />

            //GET <br />
            function getSeller() public view returns (string memory, uint) {<br /> 
                return (seller_obj.name, seller_obj.quantity);<br />
            }<br />

            <br />
            //SET <br />
            function setSeller(string memory name, uint quantity) public {<br />
                seller_obj = Seller({name:name, quantity: quantity});<br />
                supply = supply + quantity;<br />
            }<br />
              <br />
            //GET SUPPLY<br />
            function getSupply() public returns (uint){<br />
              return supply;<br />
            }<br />
              //REMOVE FROM SUPPLY<br />
              function remove(string memory name, uint quantity) public {<br />
                seller_obj = Seller({name:name, quantity: quantity});<br />
                supply = supply - quantity;<br />
            }<br />

          }<br />

          </p>

          <h2>HOW IT WORKS</h2>
          <p>
            From the "Home" page the supply of a specific medical item is shown.(getSupply()) 
            A supplier can then navigate to the "Add" page to add to the supply.(setSeller()) This prototypes the scanning of RFID chips into the blockchain. To remove from the supply, a supplier can navigate to "Remove". This prototypes the selling of the items where an RFID scannig would remove the items from the supply.
          </p>


          <h2>STAKEHOLDERS</h2>
         <p>
           Hospitals and manufacturers would benefit from this implementation. Knowing how much of a product is available lets a hospital know whether they can obtain the product quickly or if they need to demand more be made. The solution also benefits manufacturers as they can know when to slow production. From a higher level, the nation's people and government will also benefit from this as they can trust products are being produced at a necessary rate to keep hospitals stocked as necessary.
         </p>
      
          <h2>THE LAST MILE</h2>
          <p>
            The last mile problem in this project is verifying the number of products in the surplus. While RFID scanning helps to eliminate entering duplicates to the surplus, there is nothing in place to evaluate whether the product is whole or if the manufacturer is just scanning RFID chips not associated to the product. One possible solution to this problem is validating a picture of the product along with the RFID scanning before it is added to the surplus. This solution still has problems as image processing cannot identify whether or a not a product works as intended but it does help verify that a product is in the surplus, broken or unbroken.
          </p>
       </div>


        
    </div>
  </div>
</div>
{% endblock %}